 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I´m Technical Artist with more than 4 years of experience in animation projects including feature films, shortfilms and tv series. With an art-tech background I focus on pipeline and workflow for whole productions to ease the artist work and increase the possibilities to create better stories.</p>
                </div>
                <div class="col-lg-4">
                    <p>Familiar and comfortable with team working environment and meeting deadlines; experienced in collaborating with other artists in similar and different fields. 
                    Experienced in the following software: 3D Max, Maya, Photoshop, After Effects, Fusion, Premiere, Final Cut, Toom-Boom Suite and Shotgun tracking system. Also, fluent in MaxScript and Python coding and familiar with MEL, C# and C++.</p>
                </div>
            </div>
        </div>
    </section>